<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/CODE/SKILLO/TAF">
        <classes>
            <class name="gui.DeletePostInProfilePage">
                <methods>
                    <include name="deletePost"/>
                </methods>
            </class>
            <class name="gui.LikePostTest">
                <methods>
                    <include name="likePost"/>
                </methods>
            </class>
            <class name="gui.LoginTest">
                <methods>
                    <include name="declareViaNavigationLoginButtonUserCanNavigateToLoginPage"/>
                </methods>
            </class>
            <class name="gui.loginTestNegativePath">
                <methods>
                    <include name="verifyUserCannotLoginWithWrongEmailOrPassword"/>
                </methods>
            </class>
            <class name="gui.PostTest">
                <methods>
                    <include name="makeAPost"/>
                </methods>
            </class>
            <class name="gui.RegistrationTest">
                <methods>
                    <include name="verifyUserCanNavigateToRegisterPageViaNavigationLoginButton"/>
                </methods>
            </class>
            <class name="gui.ValidationLayoutLoginPageTest">
                <methods>
                    <include name="validateThereIsALayoutInLoginPage"/>
                </methods>
            </class>
            <class name="gui.ValidationLayoutTest">
                <methods>
                    <include name="validateThereIsANavigationLinkHomeButtonInHomePageLayout"/>
                </methods>
            </class> <class name="gui.ValidationLoginTest">
            <methods>
                <include name="validateThereIsALoginButton"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>