<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/CODE/SKILLO/TAF">
        <classes>
            <class name="gui.SeleniumVanillaLoginTest">
                <methods>
                    <include name="verifyBasicNavigationWorks"/>
                </methods>
            </class>
            <class name="gui.base.LoginTest">
                <methods>
                    <include name="verifyUserCanNavigateToLoginPageViaNavigationLoginButton"/>
                </methods>
            </class>
            <class name="gui.base.LoginTestNegativePath">
                <methods>
                    <include name="verifyUserCannotLoginWithWrongEmailOrPassword"/>
                </methods>
            </class>
            <class name="gui.base.RegistrationTest">
                <methods>
                    <include name="verifyUserCanNavigateToRegisterPageViaNavigationLoginButton"/>
                </methods>
            </class>
            <class name="gui.base.ValidationLayoutLoginPageTest">
                <methods>
                    <include name="validateThereIsALayoutInLoginPage"/>
                </methods>
            </class>
            <class name="gui.base.ValidationLayoutTest">
                <methods>
                    <include name="validateThereIsAHomeIconInHomePageLayout"/>
                </methods>
            </class>
            <class name="gui.base.ValidationLoginTest">
                <methods>
                    <include name="validateThereIsALoginButton"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>